.App {
  display: flex;
}

.wrapper {
  flex: 1;
  display: flex;
}

.none {
  background-color: var(--web-wash);
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}
